<div class="container-fluid">
  <div class="menu-items">
    <div class="left-item col-6">
      <h1>Santhosh Venugopal</h1>
    </div>
    <div class="right-item col-6">
      <div class="main-section"><a [routerLink]="['/Home']">Home</a></div>
      <div class="main-section">Career</div>
      <div class="main-section">
        <a [routerLink]="['/ExpenseTracker']">Projects</a>
      </div>
      <div class="main-section"><a [routerLink]="['/Passion']">Passion</a></div>
      <div class="main-section">Contact</div>
    </div>
  </div>
</div>
