<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
        <th scope="col" sortable="subCategory" (sort)="onSort($event)">SubCategory</th>
        <th scope="col" sortable="cost" (sort)="onSort($event)">Cost</th>
        <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expenseData of expenseTableData; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ expenseData.category}}</td>
        <td>{{ expenseData.subCategory }}</td>
        <td>{{ expenseData.cost }}</td>
        <td>{{ expenseData.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
